
.budget-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.budget-list {
  list-style: none;
  padding: 0;
}

.budget-list li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.budget-list li a {
  text-decoration: none;
  color: white;
  margin: 0 auto; 
}

.budget-list li button {
  background-color: #ff6347; 
  color: #fff; 
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.budget-list li button:hover {
  background-color: #cc4125; 
}
